.stack-work/
aws-lambda-haskell-runtime.cabal
*~

# Created by https://www.gitignore.io/api/haskell
# Edit at https://www.gitignore.io/?templates=haskell

### Haskell ###
dist
dist-*
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*

# End of https://www.gitignore.io/api/haskell
.DS_Store
